<!DOCTYPE html>
<html>
<head>
<script type='text/javascript' src='/javascripts/jquery.js'></script> 
    <script type='text/javascript' src='/javascripts/jquery.autocomplete.js'></script> 
 
 
    <script> 
        jQuery(window).load(function(){
            var options, a;
            options = {
                serviceUrl:'http://d24bu.api.indextank.com/v1/indexes/herokutest/autocomplete',
                params: {}
            };
            a = jQuery('#query').autocomplete(options);
            
        });
</script> 

  <title>Plixi Search :: an IndexTank demo</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<p id="logo">Plixi Search – an <%= link_to 'IndexTank', 'http://indextank.com' %> demo</p>

<%= yield %>

<%= javascript_include_tag :defaults %>
</body>
</html>
